.Person {
    width: 60%;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid black;
}

@media (min-width: 600px) {
    .Person {
        background-color: black;
        color: white;
        width: 450px;
    }
}